* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Bree Serif', serif;
    
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4{
    font-family: 'Bree Serif', serif;
    color: var(--color-principal-letras);

}


hr {
    width: 70%;
    margin: 50px auto!important;
}
body{
    background:var(--color-secundario);
}

.header {
    height: 5rem;
}

.boton-general{
    margin: 5px;
    background-color: var(--color-boton-background);
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;



    &:hover {
        background-color: var(--color-boton-background);
        transition: .3s;
    }
}

.main{

    @include flex-center;
    flex-direction: column;
    width: 80%;

    margin-top: 6rem;
    .descripcion-vista {
        flex-direction: column;
        height: 90vh;
        
        h1{
            text-align: center;
            padding-bottom: 25%;
        }

        p {
            text-align: center;
        }
    }

}

.mode{
    @include flex-center;
    position: fixed;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    bottom: 1.5rem;
    left: 2rem;
    cursor: pointer;
    z-index: 300;
    transition: .3s;
    background-color: var(--color-boton-background);

    
    
    &:hover{
        transform: scale(1.2);
    }
    &--dark{
        @include flex-center;
        position: fixed;
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
        bottom: 1.5rem;
        left: 2rem;
        cursor: pointer;
        z-index: 300;
        text-align: center;
        transition: .3s;
        background-color: var(--color-boton-background);
    }
}




