.main {



    .descipcion-sobre-nosotros{
        @include flex-center;
        flex-direction: column;
        .sobre-nosotros-inf{
            @include tarjetas;
            flex-direction: column;
            transition: 0.5s;
            &:hover {
                transform: scale(1.2);

            }
        }
    }

    .video {
        h3 {
            margin: 20px;
        }

        iframe {
            width: 80%;
            height: 11rem;
            margin: 0 auto;
        }
    }
}


@media(min-width: $pantalla-chica) {


    .main {
            
        .video {

            width: 100%;
            align-items: center;
            iframe {

                height: 20rem;
            }
        }
    }
}

@media(min-width: $pantalla-grande) {
    .main {
        .descipcion-sobre-nosotros{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            align-content: center;


        }
        .video {
            h3{
                text-align: center;
            }
            iframe {
                @include flex-center;
                height: 60vh;
            }
        }
    }
}