.main__empleados {
    display: flex;
    flex-wrap: wrap;

    figure {
        background-color: var(--color-principal);
        border-radius: 5px;
        margin: 10px auto;

        &:hover {
            -webkit-box-shadow: 9px 7px 9px -4px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 9px 7px 9px -4px rgba(0, 0, 0, 0.75);
            box-shadow: 9px 7px 9px -4px rgba(0, 0, 0, 0.75);
        }
        img {

            width: 250px;
            height: 200px;
        }

        figcaption {
            position: relative;
            width: 250px;

            h4,
            p {
                color: white;
                padding: 20px;
            }

            .iconos-redes-empleado {
                @include iconos-redes;
                bottom: 2px;
            }
        }
    }
}



@media(min-width: $pantalla-chica) {
    .main {
        .main__empleados {
            .main__empleados__empleado {
                img {
                    width: 70%;
                    height: 350px;
                    border-radius: 20px;
                }

                .redes-sociales {
                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }
    }
}


@media(min-width: $pantalla-media) {
    .main {
        .main__empleados {
            justify-content: space-around;

            figure {
                margin: 10px;

                img {

                    width: 350px;
                    height: 200px;
                }

                figcaption {
                    position: relative;

                    width: 250px;

                    h4,
                    p {
                        color: white;
                        padding: 20px;
                    }

                    .iconos-redes-empleado {
                        @include iconos-redes;
                        bottom: 2px;
                    }
                }
            }
        }

    }
}