    .main__clientes {
        @include flex-center;
        flex-direction: column;

        .main__clientes__cliente {
            @include flex-center;
            flex-direction: column;
            text-align: center;

            img {
                border-radius: 40%;
                border: 3px solid rgba(0, 0, 0, 0.2);
                width: 200px;
                height: 160px;
                margin-bottom: 2rem;
            }
            p{
                margin-bottom: 4rem;
            }

        }
    }


    @media (min-width: $pantalla-media-chica) {

            .main__clientes__cliente {
                flex-direction: row;
            }
        


    }