$pantalla-chica: 667px;
$pantalla-media-chica: 800px;
$pantalla-media: 900px;
$pantalla-media-grande: 1100px;
$pantalla-grande: 1200px;

$color-principal-claro: #ff5500;
$color-secundario-claro: #fffffe;
$color-terciario-claro: #ffb703;
$color-cuaternario-claro: #8ecae6;

$color-boton-background-claro: #ffb703;
$color-principal-letras-claro: #fffffe;

// Colores oscuros

$color-principal-oscuro: #16161a;
$color-secundario-oscuro: #023047;
$color-terciario-oscuro: #7f5af0;
$color-cuaternario-oscuro: #010101;

$color-boton-background-oscuro: #ffb703;
$color-principal-letras-oscuro: #023047;



.theme {
    --color-principal: #{$color-principal-claro};
    --color-secundario: #{$color-secundario-claro};
    --color-terciario: #{$color-terciario-claro};
    --color-cuaternario:#{$color-cuaternario-claro};
    --color-boton-background:#{$color-boton-background-claro};
    --color-principal-letras:#{$color-principal-letras-oscuro};

    // Tema oscuro
    &--dark {
        --color-principal: #{$color-principal-oscuro};
        --color-secundario: #{$color-secundario-oscuro};
        --color-terciario: #{$color-terciario-oscuro};
        --color-cuaternario:#{$color-cuaternario-oscuro};
        --color-boton-background:#{$color-boton-background-oscuro};
        --color-principal-letras:#{$color-principal-letras-claro};
    }
}