.theme {
  --color-principal: #ff5500;
  --color-secundario: #fffffe;
  --color-terciario: #ffb703;
  --color-cuaternario:#8ecae6;
  --color-boton-background:#ffb703;
  --color-principal-letras:#023047;
}
.theme--dark {
  --color-principal: #16161a;
  --color-secundario: #023047;
  --color-terciario: #7f5af0;
  --color-cuaternario:#010101;
  --color-boton-background:#ffb703;
  --color-principal-letras:#fffffe;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Bree Serif", serif;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4 {
  font-family: "Bree Serif", serif;
  color: var(--color-principal-letras);
}

hr {
  width: 70%;
  margin: 50px auto !important;
}

body {
  background: var(--color-secundario);
}

.header {
  height: 5rem;
}

.boton-general, .main__filtro__inputs label, .footer .footer__contenido .footer__contenido__form button, .main .cards .card a {
  margin: 5px;
  background-color: var(--color-boton-background);
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}
.boton-general:hover, .main__filtro__inputs label:hover, .footer .footer__contenido .footer__contenido__form button:hover, .main .cards .card a:hover {
  background-color: var(--color-boton-background);
  transition: 0.3s;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin-top: 6rem;
}
.main .descripcion-vista {
  flex-direction: column;
  height: 90vh;
}
.main .descripcion-vista h1 {
  text-align: center;
  padding-bottom: 25%;
}
.main .descripcion-vista p {
  text-align: center;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  bottom: 1.5rem;
  left: 2rem;
  cursor: pointer;
  z-index: 300;
  transition: 0.3s;
  background-color: var(--color-boton-background);
}
.mode:hover {
  transform: scale(1.2);
}
.mode--dark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  bottom: 1.5rem;
  left: 2rem;
  cursor: pointer;
  z-index: 300;
  text-align: center;
  transition: 0.3s;
  background-color: var(--color-boton-background);
}

.main .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  justify-items: center;
}
.main .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 10px;
  background-color: var(--color-terciario);
}
.main .cards .card p {
  padding: 2rem;
}
.main .cards .card a {
  text-decoration: none;
}

/* Media Query img */
@media (min-width: 900px) {
  .main .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
.navbar {
  list-style: none;
  width: 100%;
  height: 5rem;
  background-color: var(--color-principal);
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar .container-fluid {
  background-color: var(--color-principal);
}
.navbar .container-fluid .collapse .navbar-nav .nav-item a {
  color: var(--color-principal-letras);
}
.navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
  color: var(--color-principal-letras);
  background-color: var(--color-boton-background);
}

.navbar-toggler {
  background-color: #ffb703;
  border: 1px;
}

.carousel-inner {
  position: relative;
}
.carousel-inner .carousel-item {
  height: 100%;
}
.carousel-inner .carousel-item .d-block {
  width: 100%;
  height: 20rem;
}

/*Media Queries Carousel*/
@media (min-width: 667px) {
  .carousel-inner .carousel-item .d-block {
    width: 100%;
    height: 35rem;
  }
}
@media (min-width: 900px) {
  .carousel-inner .carousel-item .d-block {
    width: 80%;
    height: 80vh;
    padding-top: 20px;
  }
}
@media (min-width: 1200px) {
  .carousel-inner .carousel-item .w-100 {
    width: 90% !important;
    margin: 0 auto;
  }
  .slide .carousel-control-prev .carousel-control-prev-icon {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(210, 105, 30);
  }
  .slide .carousel-control-next .carousel-control-next-icon {
    padding: 1rem;
    border-radius: 50%;
    background-color: rgb(210, 105, 30);
  }
}
.main__clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__clientes .main__clientes__cliente {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main__clientes .main__clientes__cliente img {
  border-radius: 40%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 160px;
  margin-bottom: 2rem;
}
.main__clientes .main__clientes__cliente p {
  margin-bottom: 4rem;
}

@media (min-width: 800px) {
  .main__clientes__cliente {
    flex-direction: row;
  }
}
.main__empleados {
  display: flex;
  flex-wrap: wrap;
}
.main__empleados figure {
  background-color: var(--color-principal);
  border-radius: 5px;
  margin: 10px auto;
}
.main__empleados figure:hover {
  box-shadow: 9px 7px 9px -4px rgba(0, 0, 0, 0.75);
}
.main__empleados figure img {
  width: 250px;
  height: 200px;
}
.main__empleados figure figcaption {
  position: relative;
  width: 250px;
}
.main__empleados figure figcaption h4,
.main__empleados figure figcaption p {
  color: white;
  padding: 20px;
}
.main__empleados figure figcaption .iconos-redes-empleado {
  z-index: 200;
  position: fixed;
  bottom: 20px;
  right: 20px;
  bottom: 2px;
}
.main__empleados figure figcaption .iconos-redes-empleado img {
  width: 2rem;
  height: 2rem;
  transition: 0.3s;
  cursor: pointer;
}
.main__empleados figure figcaption .iconos-redes-empleado img:hover {
  transform: scale(1.2);
}

@media (min-width: 667px) {
  .main .main__empleados .main__empleados__empleado img {
    width: 70%;
    height: 350px;
    border-radius: 20px;
  }
  .main .main__empleados .main__empleados__empleado .redes-sociales img {
    width: 2rem;
    height: 2rem;
  }
}
@media (min-width: 900px) {
  .main .main__empleados {
    justify-content: space-around;
  }
  .main .main__empleados figure {
    margin: 10px;
  }
  .main .main__empleados figure img {
    width: 350px;
    height: 200px;
  }
  .main .main__empleados figure figcaption {
    position: relative;
    width: 250px;
  }
  .main .main__empleados figure figcaption h4,
  .main .main__empleados figure figcaption p {
    color: white;
    padding: 20px;
  }
  .main .main__empleados figure figcaption .iconos-redes-empleado {
    z-index: 200;
    position: fixed;
    bottom: 20px;
    right: 20px;
    bottom: 2px;
  }
  .main .main__empleados figure figcaption .iconos-redes-empleado img {
    width: 2rem;
    height: 2rem;
    transition: 0.3s;
    cursor: pointer;
  }
  .main .main__empleados figure figcaption .iconos-redes-empleado img:hover {
    transform: scale(1.2);
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-principal);
  position: relative;
  padding-top: 20px;
  flex-direction: column;
}
.footer * {
  color: var(--color-principal-letras);
}
.footer .footer__title p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: large;
}
.footer .footer__contenido .footer__contenido__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer__contenido .footer__contenido__form label {
  width: 15rem;
  margin: 10px;
}
.footer .footer__contenido .footer__contenido__form textarea {
  width: 15rem;
  resize: none;
}
.footer .footer__contenido .footer__contenido__ubicacion {
  padding: 1rem;
  border-radius: 2px solid black;
}
.footer .footer__contenido .footer__contenido__ubicacion iframe {
  margin-top: 2rem;
  width: 250px;
  height: 250px;
}
.footer .footer__other .footer__other__copyright {
  margin: 30px 0 0;
  color: black;
}
.footer .footer__other .footer__other__copyright span a {
  color: black;
}
.footer .footer__other .footer__redes-sociales {
  z-index: 200;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.footer .footer__other .footer__redes-sociales img {
  width: 2rem;
  height: 2rem;
  transition: 0.3s;
  cursor: pointer;
}
.footer .footer__other .footer__redes-sociales img:hover {
  transform: scale(1.2);
}
.footer .footer__other .footer__redes-sociales img:hover {
  transform: scale(1.2);
}

/* Media Queries*/
@media (min-width: 667px) {
  .footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer .footer__contenido .footer__contenido__ubicacion iframe {
    width: 300px;
    height: 400px;
  }
}
@media (min-width: 800px) {
  .footer .footer__contenido .footer__contenido__ubicacion iframe {
    width: 400px;
    height: 450px;
  }
}
@media (min-width: 1100px) {
  .footer .footer__contenido .footer__contenido__ubicacion iframe {
    width: 600px;
  }
}
@media (min-width: 1200px) {
  .footer .footer__contenido .footer__contenido__ubicacion iframe {
    width: 750px;
  }
}
.main__filtro__inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5px;
}
.main__filtro .main__filtro__galeria .main__galeria__img img {
  width: 100%;
  height: 300px;
  cursor: pointer;
}
.main__filtro .main__filtro__galeria .main__galeria__img img:hover {
  opacity: 0.7;
}

input[type=radio] {
  display: none;
}

.bodas,
.quince,
.cumplemes,
.fiestas,
.bebes,
.paisajes {
  display: none;
}

#todas:checked ~ .main__filtro__galeria .bodas,
#todas:checked ~ .main__filtro__galeria .quince,
#todas:checked ~ .main__filtro__galeria .cumplemes,
#todas:checked ~ .main__filtro__galeria .fiestas,
#todas:checked ~ .main__filtro__galeria .paisajes {
  display: flex;
}

#bodas:checked ~ .main__filtro__galeria .bodas,
#quince:checked ~ .main__filtro__galeria .quince,
#cumplemes:checked ~ .main__filtro__galeria .cumplemes,
#fiestas:checked ~ .main__filtro__galeria .fiestas,
#paisajes:checked ~ .main__filtro__galeria .paisajes {
  display: flex;
}

#bodas:checked ~ .main__filtro__inputs label[for=bodas],
#quince:checked ~ .main__filtro__inputs label[for=quince],
#cumplemes:checked ~ .main__filtro__inputs label[for=cumplemes],
#fiestas:checked ~ .main__filtro__inputs label[for=fiestas],
#paisajes:checked ~ .main__filtro__inputs label[for=paisajes],
#todas:checked ~ .main__filtro__inputs label[for=todas] {
  background-color: #ffb703;
}

@media (min-width: 667px) {
  .main__filtro__inputs {
    width: 70%;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .main__inputs {
    width: 50%;
  }
}
.main .descipcion-sobre-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .descipcion-sobre-nosotros .sobre-nosotros-inf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 10px;
  background-color: var(--color-terciario);
  flex-direction: column;
  transition: 0.5s;
}
.main .descipcion-sobre-nosotros .sobre-nosotros-inf p {
  padding: 2rem;
}
.main .descipcion-sobre-nosotros .sobre-nosotros-inf:hover {
  transform: scale(1.2);
}
.main .video h3 {
  margin: 20px;
}
.main .video iframe {
  width: 80%;
  height: 11rem;
  margin: 0 auto;
}

@media (min-width: 667px) {
  .main .video {
    width: 100%;
    align-items: center;
  }
  .main .video iframe {
    height: 20rem;
  }
}
@media (min-width: 1200px) {
  .main .descipcion-sobre-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
  }
  .main .video h3 {
    text-align: center;
  }
  .main .video iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
}/*# sourceMappingURL=styles.css.map */